// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-bulbasaur: #9bcc50;
  --ion-color-bulbasaur-rgb: 155,204,80;
  --ion-color-bulbasaur-contrast: #000000;
  --ion-color-bulbasaur-contrast-rgb: 0,0,0;
  --ion-color-bulbasaur-shade: #88b446;
  --ion-color-bulbasaur-tint: #a5d162;

  --ion-color-poison: #b97fc9;
  --ion-color-poison-rgb: 185,127,201;
  --ion-color-poison-contrast: #000000;
  --ion-color-poison-contrast-rgb: 0,0,0;
  --ion-color-poison-shade: #a370b1;
  --ion-color-poison-tint: #c08cce;

  --ion-color-fire: #fd7d24;
  --ion-color-fire-rgb: 253,125,36;
  --ion-color-fire-contrast: #000000;
  --ion-color-fire-contrast-rgb: 0,0,0;
  --ion-color-fire-shade: #df6e20;
  --ion-color-fire-tint: #fd8a3a;

  --ion-color-agua: #4592c4;
  --ion-color-agua-rgb: 69,146,196;
  --ion-color-agua-contrast: #000000;
  --ion-color-agua-contrast-rgb: 0,0,0;
  --ion-color-agua-shade: #3d80ac;
  --ion-color-agua-tint: #589dca;

  --ion-color-raio: #eed535;
  --ion-color-raio-rgb: 238,213,53;
  --ion-color-raio-contrast: #000000;
  --ion-color-raio-contrast-rgb: 0,0,0;
  --ion-color-raio-shade: #d1bb2f;
  --ion-color-raio-tint: #f0d949;

  --ion-color-fada: #fdb9e9;
  --ion-color-fada-rgb: 253,185,233;
  --ion-color-fada-contrast: #000000;
  --ion-color-fada-contrast-rgb: 0,0,0;
  --ion-color-fada-shade: #dfa3cd;
  --ion-color-fada-tint: #fdc0eb;

  --ion-color-abra: #f366b9;
  --ion-color-abra-rgb: 243,102,185;
  --ion-color-abra-contrast: #000000;
  --ion-color-abra-contrast-rgb: 0,0,0;
  --ion-color-abra-shade: #d65aa3;
  --ion-color-abra-tint: #f475c0;

  --ion-color-tasma: #7b62a3;
  --ion-color-tasma-rgb: 123,98,163;
  --ion-color-tasma-contrast: #ffffff;
  --ion-color-tasma-contrast-rgb: 255,255,255;
  --ion-color-tasma-shade: #6c568f;
  --ion-color-tasma-tint: #8872ac;

  --ion-color-normal: #a4acaf;
  --ion-color-normal-rgb: 164,172,175;
  --ion-color-normal-contrast: #000000;
  --ion-color-normal-contrast-rgb: 0,0,0;
  --ion-color-normal-shade: #90979a;
  --ion-color-normal-tint: #adb4b7;

  --ion-color-poke: #E3350D;
  --ion-color-poke-rgb: 227,53,13;
  --ion-color-poke-contrast: #ffffff;
  --ion-color-poke-contrast-rgb: 255,255,255;
  --ion-color-poke-shade: #c82f0b;
  --ion-color-poke-tint: #e64925;

  --ion-color-tipos: #e6bc2f;
  --ion-color-tipos-rgb: 230,188,47;
  --ion-color-tipos-contrast: #000000;
  --ion-color-tipos-contrast-rgb: 0,0,0;
  --ion-color-tipos-shade: #caa529;
  --ion-color-tipos-tint: #e9c344;
}

.ion-color-bulbasaur {
  --ion-color-base: var(--ion-color-bulbasaur);
  --ion-color-base-rgb: var(--ion-color-bulbasaur-rgb);
  --ion-color-contrast: var(--ion-color-bulbasaur-contrast);
  --ion-color-contrast-rgb: var(--ion-color-bulbasaur-contrast-rgb);
  --ion-color-shade: var(--ion-color-bulbasaur-shade);
  --ion-color-tint: var(--ion-color-bulbasaur-tint);
}

.ion-color-poison {
  --ion-color-base: var(--ion-color-poison);
  --ion-color-base-rgb: var(--ion-color-poison-rgb);
  --ion-color-contrast: var(--ion-color-poison-contrast);
  --ion-color-contrast-rgb: var(--ion-color-poison-contrast-rgb);
  --ion-color-shade: var(--ion-color-poison-shade);
  --ion-color-tint: var(--ion-color-poison-tint);
}

.ion-color-fire {
  --ion-color-base: var(--ion-color-fire);
  --ion-color-base-rgb: var(--ion-color-fire-rgb);
  --ion-color-contrast: var(--ion-color-fire-contrast);
  --ion-color-contrast-rgb: var(--ion-color-fire-contrast-rgb);
  --ion-color-shade: var(--ion-color-fire-shade);
  --ion-color-tint: var(--ion-color-fire-tint);
}

.ion-color-agua {
  --ion-color-base: var(--ion-color-agua);
  --ion-color-base-rgb: var(--ion-color-agua-rgb);
  --ion-color-contrast: var(--ion-color-agua-contrast);
  --ion-color-contrast-rgb: var(--ion-color-agua-contrast-rgb);
  --ion-color-shade: var(--ion-color-agua-shade);
  --ion-color-tint: var(--ion-color-agua-tint);
}

.ion-color-raio {
  --ion-color-base: var(--ion-color-raio);
  --ion-color-base-rgb: var(--ion-color-raio-rgb);
  --ion-color-contrast: var(--ion-color-raio-contrast);
  --ion-color-contrast-rgb: var(--ion-color-raio-contrast-rgb);
  --ion-color-shade: var(--ion-color-raio-shade);
  --ion-color-tint: var(--ion-color-raio-tint);
}

.ion-color-fada {
  --ion-color-base: var(--ion-color-fada);
  --ion-color-base-rgb: var(--ion-color-fada-rgb);
  --ion-color-contrast: var(--ion-color-fada-contrast);
  --ion-color-contrast-rgb: var(--ion-color-fada-contrast-rgb);
  --ion-color-shade: var(--ion-color-fada-shade);
  --ion-color-tint: var(--ion-color-fada-tint);
}

.ion-color-abra {
  --ion-color-base: var(--ion-color-abra);
  --ion-color-base-rgb: var(--ion-color-abra-rgb);
  --ion-color-contrast: var(--ion-color-abra-contrast);
  --ion-color-contrast-rgb: var(--ion-color-abra-contrast-rgb);
  --ion-color-shade: var(--ion-color-abra-shade);
  --ion-color-tint: var(--ion-color-abra-tint);
}

.ion-color-tasma {
  --ion-color-base: var(--ion-color-tasma);
  --ion-color-base-rgb: var(--ion-color-tasma-rgb);
  --ion-color-contrast: var(--ion-color-tasma-contrast);
  --ion-color-contrast-rgb: var(--ion-color-tasma-contrast-rgb);
  --ion-color-shade: var(--ion-color-tasma-shade);
  --ion-color-tint: var(--ion-color-tasma-tint);
}

.ion-color-normal {
  --ion-color-base: var(--ion-color-normal);
  --ion-color-base-rgb: var(--ion-color-normal-rgb);
  --ion-color-contrast: var(--ion-color-normal-contrast);
  --ion-color-contrast-rgb: var(--ion-color-normal-contrast-rgb);
  --ion-color-shade: var(--ion-color-normal-shade);
  --ion-color-tint: var(--ion-color-normal-tint);
}

.ion-color-poke {
  --ion-color-base: var(--ion-color-poke);
  --ion-color-base-rgb: var(--ion-color-poke-rgb);
  --ion-color-contrast: var(--ion-color-poke-contrast);
  --ion-color-contrast-rgb: var(--ion-color-poke-contrast-rgb);
  --ion-color-shade: var(--ion-color-poke-shade);
  --ion-color-tint: var(--ion-color-poke-tint);
}

.ion-color-tipos {
  --ion-color-base: var(--ion-color-tipos);
  --ion-color-base-rgb: var(--ion-color-tipos-rgb);
  --ion-color-contrast: var(--ion-color-tipos-contrast);
  --ion-color-contrast-rgb: var(--ion-color-tipos-contrast-rgb);
  --ion-color-shade: var(--ion-color-tipos-shade);
  --ion-color-tint: var(--ion-color-tipos-tint);
}
